:root {
    --color-light: #ffffff;
    --color-dark: #490261;
    --color-back: #0c8216;
    --color-background: #000000;
    --font-body: "Poppins";
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}
html {
    scroll-behavior: smooth; 
}

body {
    background-color: var(--color-background);

}

.title{
    display: flex;
}

ul {
    list-style: none;
    font-size: 1vw;
}

a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: 600;
}

a:hover {
    transition: 0.2s;
    color: var(--color-back);
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .3)),
        url(../images/fortnite-x-prowler-c7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    h1 {
        color: var(--color-light);
    }
}

.header-page {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0 50px;

    img {
        width: 50px;
        height: 50px;
    }
}

.header-menu ul {
    display: flex;
    gap: 20px;
}

.hero {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: var(--color-light);

    h2 {
        font-size: clamp(24px, 4vw, 40px);
        margin-left: 50px;
    }
}

.cards {
    width: 100%;
    min-height: 80vh;
    margin: 20px auto;
    text-align: center;
    color: var(--color-light);

    h3 {
        margin: 40px;
        font-size: clamp(24px, 4vw, 40px);
        font-weight: 800;
    }

    .cards-list {
        width: 100%;
        display: flex;
        flex-wrap: no-wrap;
        justify-content: space-evenly;
        gap: 30px;

        .card-item {
            width: 100%;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin: 20px 0;
            box-shadow: 1px 1 px 30px var(--color-background);
            border-radius: 10px;

            img {
                margin: 10%;
                width: 12vw;
                transition: .7s;
            }

            img:hover {
                transform: scale(1.1);
                filter: drop-shadow(30px 20px 2px #06dd2a99);
            }

            h4 {
                font-size: clamp(24px, 4vw, 40px);
            }

            p {
                width: 20vw;
                font-size: 1.3rem;
                font-weight: 500;
                text-wrap: balance;
            }

            @media(max-width: 1024px) {
                .card-item {
                    width: 80%;
                }
            }
        }

    }

}

.info{
    width: 80%;
    min-height: 70vh;
    margin: 10px auto ;
    display: flex;
    justify-content: center;
    text-align: center;

    .robo{

        img{
            width: 500px;
            height: 500px;
        }
        
        h2{
            color: var(--color-light);
            font-size: clamp(25px, 2vw, 40px);
            
        }
    }

    @media(max-width: 1024px) {
        img{
            max-width:60%;
            max-height: 60%;
            min-width: 300px;
            

        }
    }
}

